# Kaggle - Tabular Playground Series - Jan 2022

## 1. Modulos

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#paths de los datos correspondiente al repositosio

train_path = 'https://raw.githubusercontent.com/ccollado7/kaggle-tps-jan2022/main/data/raw/train.csv'
test_path = 'https://raw.githubusercontent.com/ccollado7/kaggle-tps-jan2022/main/data/raw/test.csv'

In [4]:
#dataset de train

train = pd.read_csv(train_path)
train.head()

   row_id        date  country       store         product  num_sold
0       0  2015-01-01  Finland  KaggleMart      Kaggle Mug       329
1       1  2015-01-01  Finland  KaggleMart      Kaggle Hat       520
2       2  2015-01-01  Finland  KaggleMart  Kaggle Sticker       146
3       3  2015-01-01  Finland  KaggleRama      Kaggle Mug       572
4       4  2015-01-01  Finland  KaggleRama      Kaggle Hat       911

In [5]:
#dataset de test

test = pd.read_csv(test_path)
test.head()

   row_id        date  country       store         product
0   26298  2019-01-01  Finland  KaggleMart      Kaggle Mug
1   26299  2019-01-01  Finland  KaggleMart      Kaggle Hat
2   26300  2019-01-01  Finland  KaggleMart  Kaggle Sticker
3   26301  2019-01-01  Finland  KaggleRama      Kaggle Mug
4   26302  2019-01-01  Finland  KaggleRama      Kaggle Hat

## 2. Rapid Exploratory Data Analysis (EDA)

In [8]:
pip install sweetviz

Collecting sweetviz
  Downloading sweetviz-2.1.3-py3-none-any.whl (15.1 MB)
Requirement already satisfied: scipy>=1.3.2 in c:\users\ccollado\anaconda3\lib\site-packages (from sweetviz) (1.6.2)
Requirement already satisfied: numpy>=1.16.0 in c:\users\ccollado\anaconda3\lib\site-packages (from sweetviz) (1.20.1)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\ccollado\anaconda3\lib\site-packages (from sweetviz) (2.11.3)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in c:\users\ccollado\anaconda3\lib\site-packages (from sweetviz) (1.2.4)
Collecting importlib-resources>=1.2.0
  Downloading importlib_resources-5.4.0-py3-none-any.whl (28 kB)
Requirement already satisfied: matplotlib>=3.1.3 in c:\users\ccollado\anaconda3\lib\site-packages (from sweetviz) (3.3.4)
Requirement already satisfied: tqdm>=4.43.0 in c:\users\ccollado\anaconda3\lib\site-packages (from sweetviz) (4.59.0)
Requirement already satisfied: zipp>=3.1.0 in c:\users\ccollado\anaconda3\lib\site-packages (from importlib-resources>=1.2.0->sweetviz) (3.4.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\ccollado\anaconda3\lib\site-packages (from jinja2>=2.11.1->sweetviz) (2.0.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\ccollado\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\users\ccollado\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\ccollado\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\ccollado\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (8.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\ccollado\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2.4.7)
Requirement already satisfied: six in c:\users\ccollado\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.1.3->sweetviz) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\ccollado\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2021.1)
Installing collected packages: importlib-resources, sweetviz
Successfully installed importlib-resources-5.4.0 sweetviz-2.1.3
Note: you may need to restart the kernel to use updated packages.

In [11]:
# importing sweetviz
import sweetviz as sv

Los reportes de visualizacion son generados en HTML

### 2.1 Analsis para Train

In [12]:
#analyzing the train dataset
advert_report = sv.analyze(train)

#display the report for train dataset
advert_report.show_html('TPS - Train.html')

                                             |                                             | [  0%]   00:00 ->…

Report TPS - Train.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

### 2.2 Analsis para Train

In [13]:
#analyzing the test dataset
advert_report = sv.analyze(train)

#display the report for test dataset
advert_report.show_html('TPS - Test.html')

                                             |                                             | [  0%]   00:00 ->…

Report TPS - Test.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

### 2.3 Comparativa Train - Test

In [14]:
comparacion_train_test = sv.compare(train, test)
comparacion_train_test.show_html('Comparacion Train - Test.html')

                                             |                                             | [  0%]   00:00 ->…

Report Comparacion Train - Test.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.